.container-certificate{width:772px;padding:20px;margin: 0 auto;background: #55379b url(../assets/img/back-certificate.jpg) no-repeat; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;font-family: 'Roboto', sans-serif;}
.container-certificate .content-certificate{background: #fff;display: inline-block;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;width: 100%;}
.container-certificate .content-certificate .logo{width: 100%;text-align: left;padding: 20px 0 0 20px;}
.container-certificate .info-certificate{width: 55%;display: inline-block;padding-left: 30px;color: #595959;}
.container-certificate .info-certificate .content{margin-top: 50px; }
.container-certificate .info-certificate .content .date{font-weight: 100;font-size: 0.9em;}
.container-certificate .info-certificate .name-user{font-family: 'Bree Serif', serif;font-size: 2.5em;margin-top:0px;padding-top: 0;color: #000000;}
.container-certificate .info-certificate .course-info{margin-top: 30px;}
.container-certificate .info-certificate .course-info span{font-weight: 300;font-size: 0.9em;}
.container-certificate .info-certificate .course-info .name-course{margin: 0;color: #595959;font-size: 1.3em;}
.container-certificate .info-certificate .legal-course{margin-top: 60px;font-size: 0.7em;}
.container-certificate .content-certificate .img-course{width: 35%;display: inline-block;text-align: right;}
.container-certificate .firmas{width: 100%;}
.container-certificate .firmas .firmaUno,.firmaDos{width: 48%; color: #595959;font-size: 0.8em;text-align: center;display: inline-block;}
.container-certificate .firmas span{display: block;font-weight: 500;}
.container-certificate .firmas span.cargo{font-weight: 300;}
.container-certificate .firmas img{border-bottom: 1px solid #595959;}