/* Inicio Estilos css pantalla de login */
html{background-color: #12122e;}
body{color: #fff;background:#12122e;}
header{background: #12122e;border-bottom: solid 3px #3d3d9b;}
header.h-back2{ background: #55379b url(../assets/img/header-back.jpg) no-repeat; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
header.h-back2 .icon-h3{font-size: 1.5em;margin-top: 25px;text-align: right;}
header.h-back2 .icon-h3 a{color: #ffffff;text-decoration: none;}
iframe {width: 100%; height: calc(100vh - 210px); width: calc(100vw - 30px);}
.link-filter{color: #ffffff;}
.link-filter:hover{color: #d8d8d8;}
.bg2{background: #5454a0!important;}
.logo{font-size: 1.2em;font-weight: 300;padding: 20px 10px 10px 25px;font-style: italic; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.logo span{color: #8485fc;margin: 0 10px;}
#contenedor{background: #ffffff;min-height: 560px;}
.contact-p a{color: #fff;text-decoration: none;}
.contact-p a:hover{color: #5454a0;}
.contact-p{margin-top: 16px;padding-right:20px;font-weight:100;text-align:right;}
.contact-t-p{margin-left:10px; }
.contact-p .lnr{font-size: 2.2em;vertical-align: middle;}
.container .row{margin:0;}

.contact-p .text-avatar-header{display: inline-block;margin: 0 5px;color: #ffffff;font-size: 1em;vertical-align: middle;font-weight: 400;}
.contact-p .text-avatar-header span{text-transform: uppercase;color: #21e9de;font-weight: 300;}
.contact-p .avatar-header{display: inline-block;margin: 0 5px;}
.contact-p .img-circle{border: 4px solid #21e9de;width: 50px;}
.contact-p .menu{display: inline-block;}
.contact-p button#dropdownmenu1{background: transparent;color: #ffffff;border: none;border-radius: 38px;height: 60px;width: 60px;}
.contact-p button#dropdownmenu1:hover{background: #afafe2;color: #12122e;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;}
.contact-p button#dropdownmenu1:active{background: #afafe2;}
.contact-p ul.dropdown-menu{left: -130px;background: #afafe2;color: #12122e;border-radius: 0;min-width:190px;margin: 16px 0 0;padding: 0;}
.contact-p ul.dropdown-menu li:last-child{background:#666687;text-align: center;}
.contact-p ul.dropdown-menu li:last-child a{color: #ffffff!important;}
.contact-p ul.dropdown-menu li:last-child a:hover{color: #12122e!important;background: #ffffff;}
.contact-p ul.dropdown-menu .fa{font-size: 1.4em; vertical-align: middle;padding-right: 8px;}
.contact-p ul.dropdown-menu .icon-right{float: right;font-size: 1.2em;width: 10%;}
.contact-p ul.dropdown-menu>li>a:hover{padding:10px 10px;background: #12122e;color: #ffffff;}
.contact-p ul.dropdown-menu>li>a:active{background: #12122e;color: #ffffff;}
.contact-p ul.dropdown-menu>li>a{padding:10px 10px;}

footer {color: #7c7b7b;font-weight: 500;font-size:0.9em;text-align: center;background:#12122e;/*border-top: solid 3px #34354c;*/padding: 20px 0;clear: both;}
footer.foot-cont{left:0;right:0;position: absolute;}
footer span a{color: #5454a0;text-decoration: none;}
.b-login{padding-bottom: 10px;background: url(../assets/img/bg-login.png) #12132f no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.form-login{background: #fff;font-size:1.4em;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin: 40px auto;padding: 0 20px 10px 20px;}
.form-login h3{color: #5d5d5d; text-align: center;padding-top: 20px;}
form label{color:#ababab;font-weight: 300;font-size: 0.9em;}
.form-login hr{color: #858585;}
.form-login a{text-decoration: none;}
.form-login a h4{color: #ababab;text-align: center;text-decoration: none;font-size: 0.7em;padding: 10px 0;font-weight: 300;}
.form-login input[type=text], input[type=password], input[type=email] { background: #e4e4e4;font-size: 1em; padding: 20px 10px;text-align: center;color: #858585;}
.contact-admin{text-align: center;font-weight: 500;font-size: 1.1em;margin: 20px 0;}
.contact-admin a{color: #5454a0;text-decoration: none;}
.form-login button.btn.btn-warning {width: 100%;font-size: 1em;}
.content-login{padding:20px 40px;}
.content-login p{font-weight: 300;width: 80%;margin-top: 20px;}
.list-login{color: #8181c0;margin-top:30px;}
.list-login li{margin: 10px 0;}

/* Fin Estilos css pantalla de login */

body.bg-2 {
    background: #fff;
}
.header-bread{background: #21e9de;}
.breadcrumb{background: none;padding: 18px 20px;margin-bottom: 5px;}
.breadcrumb a{color: #40405f;}
.breadcrumb>.active{color: #7070ac;}
.breadcrumb>li+li:before{color: #40405f;}
.header-bread .logout{color: #12122e;font-size: 1em;font-weight:500;padding-top: 15px;text-align: right;padding-right: 30px;}
.header-bread .logout span.lnr.lnr-exit {font-size: 2em;color:#12122e;vertical-align: middle;}
.header-bread .logout a{color:#12122e;text-decoration: none;}
.header-bread .logout a:hover{color:#7070ac;}

.p-texts{font-size: 1em;margin-top: 20px!important;margin-bottom: 20px!important;}
.p-texts .col-xs-2.col-sm-1.col-md-1.icon-pt{text-align: right;padding-right: 5px;}
.icon-pt span.lnr{color: #12122e;font-size: 3.6em;}
.icon-pt .fa{color: #12122e;font-size: 3.6em;}
.p-texts h3.title-p{color: #12122e;margin: 0;padding-bottom: 5px;font-weight: 600;text-transform: uppercase;}
.p-texts span.text-p{color: #5e5e5e;padding-top: 10px;}
.p-texts .text-p a{color: #37376d;font-weight: 600;}
.p-texts .add-user{color: #959595;font-size: 1em;padding-top: 15px;text-align: right;}
.p-texts .add-user a{color: #959595;text-decoration: none;}
.p-texts .add-user .lnr{vertical-align: middle;}
.p-texts .add-user .navbar-form input#srch-term{background: #f0f0f0;}

.menu-dash{color:#12122e;text-transform:uppercase;text-align:center;font-weight: 500;margin: 20px 0;align-items: center;}
.menu-dash .item-menu-dash{background: #a7a7c2;padding: 20px 0;margin-left:10px;margin-top:10px;}
.menu-dash .col-md-2.item-menu-dash2{background: #d3d3d3;color: #616161;padding: 20px 0;margin-left:10px;margin-top:10px;}
.menu-dash .text-menu-d{padding:10px;}
.menu-dash .col-md-2.item-menu-dash2 .text-menu-d{}
.menu-dash .fa{font-size: 5em;}
.menu-dash .col-md-2.item-menu-dash2 .lnr{}
.menu-dash a{color: #12122e;}
.menudash .item-menu-dash{transition: background 0.5s ease;}
.menu-dash .item-menu-dash:hover{color: #12122e; background-color: #21e9de; -webkit-transition: background-color 0.2s ease-out; -moz-transition: background-color 0.2s ease-out;-o-transition: background-color 0.2s ease-out;transition: background-color 0.2s ease-out;}
.menu-dash .item-menu-dash2:hover{color: #d3d3d3; background-color: #616161; -webkit-transition: background-color 0.2s ease-out; -moz-transition: background-color 0.2s ease-out;-o-transition: background-color 0.2s ease-out;transition: background-color 0.2s ease-out;}

.section-dash{background: #d3d3d3;margin-top:40px;padding-top: 20px;padding-bottom: 20px;}
.section-dash .table-dash-p{padding:0 25px;}
.section-dash .table-d{color: #ffffff;background: #ffffff;margin-top: 10px;margin-bottom: 10px;}
.section-dash .table-d .header-dash-table{background: #7070ac;width: 100%;padding-top: 12px;padding-bottom: 5px;padding-left: 15px;}
.section-dash .table-d .header-dash-table.back-table2{background: #21e9de;color: #12122e;font-weight: 600;}
.section-dash .table-d .header-dash-table.back-table2 a{color: #12122e;}
.section-dash .table-d .header-dash-table.back-table2 a:hover{color: #ffffff;}
.section-dash .table-d .header-dash-table.back-table3{background: #de8910;}
.section-dash .table-d p{display: inline-block;}
.section-dash .table-d p.enlace-table-dash{text-align: right;float: right;padding-right: 10px;font-weight: 300;}
.section-dash .table-d a{color: #ffffff;cursor: pointer;}
.section-dash .table-d a:hover{color: #12122e;font-weight: 600;}
.section-dash .table-d span.lnr.lnr-chevron-right-circle{font-size: 1.4em;vertical-align: middle;padding-left: 5px;}
.section-dash .table-d .table-dash-text{width: 50%;display: inline-block;padding-left: 15px;padding-bottom: 20px;padding-top: 10px;color: #5c5c5c;}
.section-dash .table-d .table-dash-text .table-number{font-size: 2.5em;color: #5c5c5c;text-align: left;font-weight: 500;display: block;}
.section-dash .table-d .table-dash-text .table-number-text{font-size: 1em;font-weight: 300;color: #5c5c5c;}
.section-dash .table-d .table-dash-icon {color: #616161;display: inline-block;width: 45%;text-align: right;font-size: 4em;}


.form-text{text-align: center;font-weight: 300;color: #5e5e5e;font-size: 1em;width: 80%;margin: 20px auto;}
.btn-form-admin{width: 50%;margin: 10px auto;border:1px solid #36366a;text-transform: uppercase;color: #ffffff;background: #5454a0;font-size: 1.2em;padding: 10px 0}
.btn-form-admin:hover{background: #36366a;}
.btn-contact{text-align: center;}
form.form-contact input{background: #e2e2e2;}
form.form-contact textarea{background: #e2e2e2;}
.captcha p{color: #7e7e7e;text-align: center;padding-top: 5px;}
.captcha p span{color: #5454a0;font-weight: 500;}

aside{background: #c8c8c8;text-align: center;padding:20px 0;}
aside .row{margin-right: 0;}
aside.profile{background: #c8c8c8; padding: 0;}
aside.profile .avatar-profile{padding: 20px 0;}
aside.profile .avatar-profile img.img-circle{border: 6px solid #7c7c7c;margin: 0 auto;display: block;}
aside.profile .avatar-profile p{text-align: center;color: #000000;font-size: 1.2em;font-weight: 500;}
aside.profile .avatar-profile p span{display: block;color: #7c7c7c;font-weight: 300;}
aside.profile .form-profile{background: #e5e5e5;}
aside.profile .form-profile .icon-profile{text-align: right;padding-right: 0;}
aside.profile .form-profile .text-profile{padding-left: 0;}

aside.profile .form-profile .fa{font-size: 2em;color:#7c7c7c;padding: 10px;}
aside.profile .form-profile input{margin:10px auto;text-align:left;display:inline-block;padding: 7px 7px;height: auto;font-size: 1em;}
aside.profile .form-profile .form-group{padding:7px 0;/*border-bottom: 3px solid #b1b1b1;*/margin-bottom: 0;}
aside.profile .form-profile .form-group a{color: #7c7c7c;font-size: 1.1em;text-decoration:none;vertical-align: middle;padding:10px 0;}
aside.profile .form-profile .form-group a:hover{}

aside.profile .form-profile .form-group a .lnr{color: #7c7c7c;font-size: 1.5em;}
aside.profile .form-profile .form-group.logout-profile{color: #7c7c7c; background-color: #ddd;}
aside.profile .form-profile .form-group.logout-profile .lnr{font-size: 1.2em;padding-right: 5px;}
aside.profile .form-profile .form-group.logout-profile:hover{background: #c8c8c8;}

table{font-size: 1em;}
table thead{color: #12122e;}
table thead th{text-align: center;}

.down-cer{text-align: center;color: #5454a0;margin-bottom: 10px;font-weight: 500;padding: 10px 0;}
.down-cer:hover{background: #12122e;color: #5454a0;cursor: pointer;}
.list-course-profile{background: #afafe2;padding: 15px 15px; margin: 10px;}
.list-course-profile .fecha-course{background: #ffffff;font-weight:500;margin:10px 0;width: auto;text-align:center;font-size:1em;display:block;color:#12122e;padding: 5px 15px;float: right;-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;}
.list-course-profile .content-list-profile{color: #12122e;margin-top:70px;margin-bottom:10px;width: 65%;display: inline-block;font-size: 1.3em;font-weight: 700;}
.list-course-profile .content-list-profile span{font-size: 0.7em;font-weight: 300;}
.list-course-profile .icon-list-profile{width: 33%;display: inline-block;color: #12122e;text-align: right;font-size: 4em;}
.list-course-profile.bg2 .content-list-profile{color: #ffffff;}
.list-course-profile.bg2 .content-list-profile span{font-size: 0.7em;font-weight: 300;color: #ffffff;}
.list-course-profile.bg2 .icon-list-profile{color: #ffffff;}


.box-users{background: #12122e;padding: 12px 20px;margin:5px auto 20px auto;text-transform: uppercase;font-weight: 200;font-size: 1em;color: white;}
.box-users:hover{color: #1BB1FF;}
.box-users .icon-box-users{font-size: 1.2em;margin-right:5px;font-weight: 500;color: #ffb400;}
.box-users span.number-box-users{float: right;font-weight: 500;}
.box-users.box-bg-2{background: #55559d;}
.box-users.box-bg-2 .icon-box-users{color: #21e9de;}
.box-users.box-bg-3{background: #cecece;color: #000000;}
.box-users.box-bg-3 .icon-box-users{color: #55559d;}

.all-actions select.form-control{background: #e5e5e5;font-size: 0.9em;}
.all-actions .btn-aply{background: #e5e5e5;font-size: 0.9em;}
.select-elements{color: #959595;text-align: left;font-size: 1em;padding: 5px 15px;}
.file-down{text-align: right;}
.file-down .down-xls{background: #a8a8de;text-transform: uppercase;color: #ffffff;}
.file-down .down-xls:hover{background: #55559d;}
.table-users{font-size: 0.9em;margin: 10px 0 10px 0;}
.table-users .item-users{color: #000000;font-weight: 500;text-transform: uppercase;}
.table-users tr td{color: #484747;text-align: center;}
.paginador nav {text-align: center;}
.paginador nav .pagination>li>a, .pagination>li>span{color: #959595;}
.btn-down-xls{background: #a8a8de;text-transform: uppercase;color: #ffffff;}
.btn-down-xls:hover{background: #55559d;color: #ffffff}
.select-invitation{margin-top: 9px;margin-bottom: 10px; }
.select-invitation select{background: #e5e5e5;color: #9e9e9e;font-size: 1.2em;text-transform: uppercase;}

.p-texts .search-courses{padding-right: 0;text-align: right;}
.p-texts .search-courses form.navbar-form{text-align: right;}
.p-texts .search-courses .count-user{display: inline-block;margin-top:10px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background: #5454a0;color: #ffffff;padding: 10px 15px;font-size: 0.9em; margin-right: 5px;}
.p-texts .search-courses .count-user:last-child{margin-right: 10px;}
.p-texts .search-courses .count-user span{font-weight:500;font-size:0.8em;color: #12122e;background: #ffffff;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;padding: 5px;margin-left: 10px;}
.p-texts .search-courses .count-user.well{background: #12122e;color: #21e9de; margin-bottom: 0;}
.p-texts .search-courses .count-user.pending{background: #828282;}
.p-texts .date-icon{color: #757575;font-size: 1.5em;display: inline-block;vertical-align: middle;}
.p-texts .date-courses {text-align: right;}
.p-texts .date-courses .date-text{color: #757575;font-size: 1em;display: inline-block;}

.bg-list2{background: #ffffff!important;}
.list-courses{background: #f2f2f2;padding: 20px 10px;overflow: overlay; margin: 10px 0;}
.list-courses .img-course{text-align: center;background: #cbcbcb;padding:5px 5px;}
.list-courses .date-course{font-size: 1em;color: #12122e;margin-top: 0;}
.list-courses p{color: #a8a8a8;font-size: 0.9em;}
.list-courses .img-course img{width: 100%;}
.list-courses .text-course{display: inline-block;padding-left: 10px;padding-top: 10px;}
.list-courses .progress{text-align: center;}
.list-courses .text-course span{font-size: 1.5em;text-transform: uppercase;color: #5454a0;font-weight: 500;}
.list-courses .progress-user{text-align: center;}
.list-courses .progress-user .porcentage-user{font-size: 3.5em;color: #5454a0;font-weight: 600;margin: 0;}
.list-courses .progress-user .btn-list{background: #5454a0;color: #ffffff;width: 100%;border: none;padding: 10px 0;text-transform: uppercase;}
.list-courses .progress-user .btn-list:hover{background: #12122e;color: #ffffff;}
.end-courses{color: #5454a0;text-align: center;padding: 20px 0;font-weight: 300;}
.end-courses  .fa{font-size: 3em;}

.btn-list-complete{color: #ffffff;border: none;padding: 10px;text-transform: uppercase;}
.btn-list-disable{color: #ffffff;border: none;padding: 10px;text-transform: uppercase;}

.form-add-users .form-group{margin-left: 25px;}
.form-add-users .form-group label{color: #6a6a6a;font-size: 1.2em;}
.form-add-users .form-group input, select{background: #e5e5e5;}
.form-add-users select.form-control{background: #e5e5e5;}
.row.btn-save{text-align: center;}
.row.btn-save button.btn{background: #5454a0;border: 1px solid #5454a0;padding:10px 20px;margin: 20px 0; font-size: 1.3em;}
.row.btn-save button.btn:hover{background: #3f3f7b;}


.edit-user .avatar-user{text-align: center;margin-top: 20px;}
.edit-user .avatar-user img{border: 6px solid #d3d3d3;}
.edit-user .form-group label{color: #6a6a6a;font-size: 1.2em;font-weight: 300;}

.edit-courses{margin-left: 20px;}
.edit-courses .title-edit {color: #5e5e5e;font-weight: 500;}
.edit-courses .icon-edit{color: #21e9de;}
.edit-courses .last-info-edit{text-align: right;}


.course-type1 span.glyphicon{color: #f9be00;}
.course-type2 span.glyphicon{color: #5554a4;}
.course-type3 span.glyphicon{color: #09e8e3;}

.form-add-course label{font-size: 0.9em;text-transform: uppercase;text-align: left!important;padding-left: 30px;}
.form-add-course button{background: #21e9de;color: #12122e;font-size: 1.2em;padding:10px 30px;font-weight: 500;}
.form-add-course .btn-add{text-align: center;margin: 30px 0;}
.form-add-course input, textarea.form-control, select.form-control{background: #e5e5e5;padding: 10px;color: #000;width: 100%;}
.add-photo{background: #e5e5e5;padding:40px 40px;color: #6a6a6a;text-align: center;}
.add-photo .icon-add-course{font-size: 6em;}
.img-add-course img{width: 100%;}
.img-add-course p{color: #ababab;margin: 30px 0 10px 0;}
.img-add-course p .fa{font-size: 1.3em;padding-right: 5px;}
.img-add-course button{width: 100%;font-size: 1em;}
.img-add-course button.btn.btn-primary{background: #337ab7;color: #ffffff;font-weight: 300;}
.img-add-course button .fa{padding-right: 5px;font-size: 1.2em;}

.course-photo{background: #e5e5e5;padding:40px 40px;color: #6a6a6a;text-align: center;}
.course-photo .icon-course{font-size: 6em;}
.img-p-course{margin-left: 15px;}
.img-p-course img{width: 100%;}
.img-p-course .texts-course{text-align: center;color: #6a6a6a;font-size: 1.1em;margin-top:20px;font-weight: 500;}
.img-p-course .texts-course .subtitle-course{text-align: center;color: #6a6a6a;font-size: 0.9em;font-weight: 300;}

.add-unity h3{color: #6a6a6a;text-transform: uppercase;margin-top: 0;}
.add-unity h3 span{font-weight: 300;}
.add-unity label{color: #6a6a6a;text-transform: uppercase;font-weight: 300;}

.add-unity .form-group textarea{}
.add-unity input[type=file]{color: #6a6a6a;padding-top: 10px;padding-bottom: 20px;}
.add-unity .input-add-course{padding: 0;}
.add-unity .check-unity{margin-bottom: 25px;}
hr{border: 1px solid #b1b1b1;margin-bottom:30px;}

.add-unity2 span{color: #6a6a6a;font-weight: 500;}
.add-unity2 button{float: right;background: #6a6a6a;color: #ffffff;}
.add-unity2{margin-bottom: 40px;height: 35px;}
.btn-add{text-align: center;margin-bottom: 30px;}
.btn-add button{background: #21e9de;color: #12122e;font-size: 1.2em;padding: 10px 30px;font-weight: 500;}

.add-unity .desc-unity{margin-bottom: 20px;}
.add-unity .desc-unity .number-unity{color: #12122e;font-weight: 500;font-size: 2em;display: block;}
.add-unity .desc-unity .name-unity{color: #12122e;font-size: 1.3em;}
.add-unity .desc-unity p{color: #6a6a6a;margin:10px 0;}

.add-slide{margin-bottom: 20px;}
.add-slide button{color: #6a6a6a;padding: 10px 20px;}
.btn-add-cuestion{text-align: center;margin-bottom: 30px;}
.btn-add-cuestion button{background: #6a6a6a;color: #ffffff;}

.info-course{background: #e2e2e2;color: #12122e;padding: 10px 5px;overflow: overlay;}
.info-course .icon-course{display: inline-block;font-size: 6em;margin-right: 10px;}
.info-course .t-course{display: inline-block;}
.info-course .t-course h3{font-weight: 600;margin-bottom: 0;font-size: 2em;}
.info-course .icon-course .fa{margin-top: 8px;}
.info-course .progress-course{background: #12122e;color: #ffffff;border:5px solid #828282;font-size: 1em;font-weight:300;width: 100px;height:100px;-webkit-border-radius: 60px;-moz-border-radius: 60px;border-radius: 60px;text-align: center;float: right;margin-top: 9px;}
.info-course .progress-course .t-progress{padding-top: 4px;font-size: 0.8em;}
.info-course .progress-course span{font-size: 2.2em;height: 35px;color: #21e9de;font-weight: 500;display: block;margin-top: 10px;}

.desc-course{padding: 20px 10px;}
.desc-course h4{color: #5454a0;font-weight: 500;font-size: 1.5em;}
.desc-course hr{margin:15px 0; }
.desc-course .goto-course{text-align: center;padding-top: 40px;}
.desc-course button{background: #5454a0;color: #ffffff;border: none;}
.desc-course button:hover{background: #353567;color: #ffffff;}
.desc-course button:focus{background: #353567;color: #ffffff;}
.desc-course button:active{background: #353567;color: #ffffff;}
.desc-course p{color: #5e5e5e;font-weight: 300;}

.important-note {border-top:2px dotted #939393;border-bottom:2px dotted #939393;padding: 20px 0;margin:20px 10px;}
.important-note .note{background: #e6e6e6;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;padding: 5px 15px;color: #838383;}
.important-note .note h3{margin: 10px 0;font-size: 1.2em;}
.important-note .note p{font-weight: 300;}
.important-note .note .icon-note{position: absolute;right: 0;top: 17px;}

.unity-courses{padding: 20px 10px;}
.unity-courses h4{color: #939393;margin:5px 0; }
.unity-courses h2{color: #12122e;margin:5px 0; }
.unity-courses p{color: #838383;margin: 20px 0;}

.lessons-courses{padding: 20px 0;}
.lessons-courses ul{padding: 0 20px;}
.lessons-courses ul li{color: #636363;border-bottom: 1px dotted #636363;padding: 10px 0;list-style: none;}
.lessons-courses ul li:last-child{border-bottom: none;}
.lessons-courses ul li .fa{float: right;}
.lessons-courses ul li span{font-weight: 500;margin-right: 10px;}
.lessons-courses .complete{color: #4CAF50;}

.view-course{min-height: 480px;width: 100%;}

.nav-course{background: #55379b;font-size: 1.2em;text-transform: uppercase;}
.nav-course .col-nav{padding: 0;}
.nav-course .before-nav{padding: 15px 10px}
.nav-course a{text-decoration: none;color: #ffffff;cursor: pointer;}
.nav-course .before-nav:hover, .after-nav:hover{background:#412a76;color: #ffffff;}
.nav-course .pagination-user{text-align: center;padding: 15px 10px;background: #46c4db;}
.nav-course .after-nav{padding: 15px 10px;text-align: right;}

.confirmation{text-align: center;color: #535353;}
.confirmation img{width: 100%;}
.confirmation .title{font-weight: 600;font-size: 1.5em;margin:20px 0;}
.confirmation p span{font-weight: 600;}
.confirmation .title p{font-size: 1em;}
.confirmation button.btn-back{color: #54549b;font-weight:500;background: none;border: 3px solid #54549b;margin-bottom: 20px;margin-top: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;padding: 5px 20px;}
.confirmation button.btn-back:hover{background: #54549b;border: 3px solid #54549b;color: #ffffff;}

.evaluation{background: #cecece;}
.evaluation .evaluation-results{background: #ffffff;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;margin:30px auto;padding:30px 40px;}
.evaluation .evaluation-results .title p{color: #55379b;font-size: 2.5em;text-transform: uppercase;font-weight: 600;margin-bottom: 5px;}
.evaluation .evaluation-results .title span{color: #12122e;font-size: 1.2em;}
.evaluation .evaluation-results .texts-course{color: #12122e;margin:40px 0 20px 0;}
.evaluation .evaluation-results .texts-course p{font-size: 1.7em;font-weight: 600;margin-bottom: 0;}
.evaluation .evaluation-results .texts-course span{font-size: 1em;font-weight: 300;}
.evaluation .evaluation-results .list-failed{color:#12122e;}
.evaluation .evaluation-results .list-failed ol{list-style: none;}
.evaluation .evaluation-results .list-failed ol li{margin:10px 0;}
.evaluation .evaluation-results .list-failed ol li span{background: #55379b;color: #ffffff;padding: 3px 7px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;margin-right: 10px;}
.evaluation .evaluation-results .list-failed .title-failed{text-transform: uppercase;color: #55379b;}
.evaluation .evaluation-results .call-to-action{color: #000000; margin:40px 0 30px 0;}
.evaluation .evaluation-results .call-to-action .btn-evaluation{background: #55379b;color: #ffffff;padding:10px 20px;font-size: 1.3em;}
.evaluation .evaluation-results .call-to-action .btn-evaluation:hover{background: #12122e;}
.evaluation .evaluation-results .calification{background: #12122e;-webkit-border-radius: 80px;-moz-border-radius: 80px;border-radius: 80px;padding: 25px 20px;text-align: center;border:6px solid #c8c8c8;width: 155px;height: 155px;margin: 0 auto;}
.evaluation .evaluation-results .calification p{color: #eaa400;font-size: 3.7em;font-weight: 600;margin-bottom: 0;}
.evaluation .evaluation-results .result{width:100%;color: #55379b;text-align: center;font-size: 1.2em;font-weight: 600;margin: 20px auto;}

.content-p .text .cuestion label{color: #bfbfbf;font-size: 1em;}

.msg-ceel-ok{text-align: center;background: #21e9de;color: #0a0a2b;}
.msg-ceel-fail{text-align: center;background: #dedede;color: #484848;}

.dataTables_info{color: #337ab7;font-weight: 500;padding-left: 10px;}
div.dataTables_wrapper div.dataTables_filter label{color: #d8d8d8;}
.panel-default{border: none;margin-bottom: 20px!important;}

aside .upload-img::-webkit-file-upload-button {
  visibility: hidden;
}
aside .upload-img::before {
  content: 'Seleccionar imagen';
  width: 100%;
  display: inline-block;
  background: #5454a0;
  color: #ffffff;
  text-align: center;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
}
aside input[type=file]{color: transparent;width: 65%;display: inline-block;max-height: 31px;margin:10px auto; text-align: center;}
aside .upload-img:hover::before {
	background: #12122e;
}
aside .upload-img:active::before {
  background: #12122e;
}
/* Estilos Loading*/

.spinner {
  margin: 20px auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #5454a0;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#formProfile .form-control[disabled], #formProfile fieldset[disabled] .form-control {
    cursor: not-allowed;
    border: none;
    background: none;
    box-shadow: none;
}

/*estilos Aldama*/

iframe#ifcontent {
    height: calc(100vh - 30vh);
    width: 100vw;
    border: none;
    overflow-y: auto;
    margin: 0;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}
.tLec{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.container-fluid {
     padding-right: inherit; 
     padding-left: inherit; 
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width:420px){
	.tLec{
        max-width: 260px;
    }
}
