body{font-family: 'Roboto', sans-serif;color: #ffffff;overflow-y: scroll;
    overflow-x: hidden;}
header{margin-top: 20px;margin-bottom: 20px;}
header .t-exit{font-size: 1.1em;font-weight: 300;text-align: right;padding-top: 10px;margin-bottom: 20px;}
header .t-exit .lnr{font-weight: 500;}
.color-1{color: #ff3b9b;}
.color-2{color: #004796;}
.color-3{color: #a5a5a5!important;}
.color-4{color: #46c4db;}
body.intro{background: #55379b url(../assets/back-p.png) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;padding-top: 60px;}
.content-intro{margin-bottom: 40px;border: 3px solid #fff;border-radius: 15px;padding: 20px 20px;}
.content-intro h3{text-align: right;font-size: 2.5em;margin-top: 30px;padding-right: 40px;}
.content-intro ul{text-align: right;margin-top: 50px;margin-bottom:40px;font-size: 1.1em;padding-right: 40px;}
.content-intro ul li{font-weight: 100;padding:5px 0;}
.content-intro span.number{background: red;padding: 2px 7px;-webkit-border-radius: 110px;-moz-border-radius: 110px;border-radius: 110px;font-size: 0.8em;margin-left: 5px;font-weight: 500;}
.content-intro span.number.color1{background: #46c4db;}
.content-intro span.number.color2{background: #ff9900;}
.content-intro span.number.color3{background: #ff3b9b;}
.content-intro span.number.color4{background: #005ec6;}
.content-intro .text-min .list-unstyled{font-size: 0.9em;margin-top: 20px;}

.content-p .row{margin-right: 0;}
.content-p h5{color: #000000;font-weight: 300;}
.content-p {padding-top:20px;padding-left: 40px;margin: 20px auto 0 auto;min-height: 470px;}
.content-p h1{color: #55379b;font-weight: 600;}
.content-p h1.title-p2{font-size: 1.7em;}
.content-p p{color: #000000;font-weight: 300;}
.content-p .text{font-size:1em;padding-left: 30px;padding-bottom: 20px;animation:mover 1s;-webkit-animation:mover 1s;}
.content-p .text.img{text-align: center;}
.content-p .text span{font-weight: 500;}
.content-p .text .t-fuent{margin-top: 40px;}
.content-p .well p{font-size: 0.8em;text-align: center;padding: 0 12px;}
.content-p .title-collapse{text-align: center;font-weight: 500;color: #55379b;margin:20px 0;}
.content-p .colapsador{text-align: center;}
.content-p .text .cuestion{border-bottom: 1px solid #d6d6d6;padding-bottom: 20px;padding-top: 20px;}
.content-p .text .cuestion:last-child{border: none;}
.content-p .text .cuestion p{font-weight: 500;}
.content-p .text .cuestion label{color: #000000;font-weight: 500;font-size: 1.3em;padding-right: 15px;}
.content-p .text .cuestion2 label{color: #000000;font-weight: 300;font-size: 1em;padding-right: 15px;}
.content-p .text ul{padding: 0;list-style: none;color: #000000;margin-bottom: 20px;}
.content-p .text ul li{padding: 5px 0;}
.content-p .text ul li .fa{color: #55379b;padding-right: 10px;}
.content-p .text ul li .fa.color2{color: #ff3b9b;}
.content-p .text ul li .fa.color3{color: #004796;}
.content-p .text ul li .fa.color4{color: #46c4db;}
.content-p .text ul li .fa.color5{color: #ff9900;}
.content-p .text ul li .fa.color6{color: #838383;}
.content-p .text .icon-game{text-align: center;margin-bottom: 10px;}
.content-p .text-i{font-weight: 500;font-style: italic;}
.content-p .icon-p{text-align: center;}
.content-p .icon-p img{max-height: 500px;margin-bottom: 20px;animation:img 1s;-webkit-animation:img 1s;}
.content-p .t-imp{text-align: center;font-weight: 500;color: #000000;margin-top: 20px;text-align: center;}
.content-p .box-imp{width: 98%;background: #e9e9e9;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;padding-bottom: 5px;margin-bottom: 10px;}
.content-p .box-imp h5{color: #5a5a5a;font-size: 1em;padding-bottom: 5px;font-weight: 500;padding-top: 10px;}
.content-p .box-imp p{font-size: 0.9em;color: #949393;}
.content-p .box-imp img{position: absolute;right:20px; top:-21px;}
.content-p .box-imp.imp2{margin:40px auto;}
.content-p .photo{text-align: center;}
.content-p .photo .text-photo{margin:10px 0;text-align: right;width: 70%;float: right;}
.content-p .photo img{width: 100%;}
.content-p .text .photo .message{position: absolute;left: 0;bottom: 0;width: auto;}
.content-r{background: #ffffff;margin-right: 0;}
.pre-scrollable{margin-top: 20px;max-height: 300px;margin-bottom: 22px;}
footer{color: #26174b;text-align: center;font-size: 1em;font-weight: 500;padding-bottom: 20px;}
footer.f-dos{padding: 20px 0;color: #6c47c4;}


.custom-control-indicator{width: 1.3rem;height: 1.3rem;}
@keyframes img{
	0%{opacity: 0;transform: translateX(50px);}
	100%{opacity: 1;transform: translateX(0);}
}

@keyframes mover{
	0%{opacity: 0;transform: translateX(-50px);}
	100%{opacity: 1;transform: translateY(0px);}
}


/* Let's get this party started */
.pre-scrollable::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.pre-scrollable::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
.pre-scrollable::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(108,71,196,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(108,71,196,0.4); 
}